@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Shopping List</h1>
    <p>
        If you want to open your list please press the button at the top </a>.
    </p>





</div>
